html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 24px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 8px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

.nav > li > form > button:hover {
    text-decoration: none;
}

.auth-item-form{
    padding-right: 0;
    padding-left: 0;
}


.permission-block{height: 100%;background: #ffffff;padding: 10px;}
.ibox-permission {
    background-color: #fff;
    color: inherit;
    padding: 15px 20px 20px;
    border: 1px solid #e7eaec;
}
.pd-10{
    padding: 10px;
}

.pd-15{
    padding: 15px;
}

.pd-20{
    padding: 20px;
}

/*
自定义样式
 */


.profile-element {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    display: block;
    padding: 17px 0;
}
.logo-element {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    display: none;
    padding: 17px 0;
}

.breadcrumb-linkbar{
    float: left;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 10px;
    left: 15px;
    border-radius: 2px;
}
.breadcrumb-linkbar > li {
    display: inline-block;
}
.breadcrumb-linkbar > .active {
    color: #777;
}
.breadcrumb-linkbar {
    list-style: none;
}
.breadcrumb-linkbar > li + li::before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.navbar-nav > li > a{
    padding: 20px 10px;
    min-height: 50px;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background: #333;
}

.nav>li>a:focus,.nav>li>a:hover {
    text-decoration:none;
    background-color:#333
}
.nav>li.disabled>a {
    color:#777
}
.nav>li.disabled>a:focus,.nav>li.disabled>a:hover {
    color:#777;
    text-decoration:none;
    cursor:not-allowed;
    background-color:transparent
}
.content-tabs {
    border-bottom: solid 2px #ccc;
}
.page-tabs a.active,.page-tabs a.active i {
    background: #eee;
    color: #a7b1c2;
}

.page-tabs a.active:hover,.page-tabs a:hover {
    color: #777;
    background: #f2f2f2;
    cursor: pointer;
}
.page-tabs a.active i:hover,.page-tabs a i:hover {
    color: #777;
    background: #f2f2f2;
    cursor: pointer;
}
.navbar-fixed-top, .navbar-static-top {
    background: #3a5063;
}
.main-header .nav > li.active {
    border-left:none;
    border-bottom:none;
    background: #293846;
    box-sizing: border-box;
}
.navbar-minimalize i{
    color:#fff;
}
.navbar-toggle{
    background-color: #c2c2c2;
}
.navbar-collapse{
    padding-left:0;
}
.navbar-collapse .minimalize-styl-2{
    margin: 14px 5px 5px 10px;
}
.main-header .navbar-custom-menu, .main-header .navbar-right {
    float: right;
}
.navbar-nav > .user-menu .user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
}
.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
}
.navbar-nav > .user-menu > .dropdown-menu, .navbar-nav > .user-menu > .dropdown-menu > .user-body {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.navbar-nav > .user-menu > .dropdown-menu {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 280px;
    background-color: #333;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
    height: 175px;
    padding: 10px;
    text-align: center;
}
.navbar-nav > .user-menu > .dropdown-menu > li.user-footer{
    height: 50px;
    padding: 10px;
    background-color: #f9f9f9;
}
.navbar-nav > .notifications-menu > .dropdown-menu {
    background-color: #333;
    color:#a7b1c2;
}
.navbar-nav > .notifications-menu > .dropdown-menu, .navbar-nav > .messages-menu > .dropdown-menu, .navbar-nav > .tasks-menu > .dropdown-menu {
    width: 280px;
    padding: 0 0 0 0;
    margin: 0;
    top: 100%;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li, .navbar-nav > .messages-menu > .dropdown-menu > li, .navbar-nav > .tasks-menu > .dropdown-menu > li {
    position: relative;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.header, .navbar-nav > .messages-menu > .dropdown-menu > li.header, .navbar-nav > .tasks-menu > .dropdown-menu > li.header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 7px 10px;
    border-bottom: 1px solid #a7b1c2;
    font-size: 14px;
}
.navbar-nav > .notifications-menu > .dropdown-menu > li.footer > a, .navbar-nav > .messages-menu > .dropdown-menu > li.footer > a, .navbar-nav > .tasks-menu > .dropdown-menu > li.footer > a {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 12px;
    background-color: #fff;
    padding: 7px 10px;
    border-bottom: 1px solid #eeeeee;
    color: #444 !important;
    text-align: center;
}